/.idea
/.env
/install.sh
/install-v2.sh
/upgrade.sh
/db-backup.sh
/site-backup.sh
/site-restore.sh
/nginx/conf.d/default.conf
/nginx/conf.d/ssl-default.conf
/install-m4.sh
/README-M4.md
/DEPLOY_GUIDE.md
/mysql/data/*
!/mysql/data/.gitkeep
/mysql/log/*
!/mysql/log/.gitkeep
/redis/data/*
!/redis/data/.gitkeep
/xunsearch/data/*
!/xunsearch/data/.gitkeep
/nginx/log/*
!/nginx/log/.gitkeep
/php/log/*
!/php/log/.gitkeep
/php/supervisor/log/*
!/php/supervisor/log/.gitkeep
/getPostnt.
/request-
.DS_Store
/html/ctc/storage/cache 
/html/ctc/storage/log 
/html/ctc/storage/tmp 
/html/ctc/storage/upload
/html/ctc/vendor
/html/ctc/config/xs.course.ini
/html/ctc/config/xs.article.ini
/html/ctc/config/xs.question.ini
/html/ctc/config/alipay/*.crt
/html/ctc/config/wxpay/*.pem
/html/ctc/db/migrations/schema.php
/html/ctc/public/robots.txt
/html/ctc/public/sitemap.xml
/html/ctc/public/h5
/html/ctc/storage/cache/purifier
